h1{
    font-family: 'Olney', 'Mark', 'Mark-Low', sans-serif;
    color: white;
    font-size: 6em;
    margin: 0;
}

h2{
    font-family: 'Olney', 'Mark', 'Mark-Low', sans-serif;
    color: white;
    font-size: 2.1em;
}

header{
    padding: 80px 105px;
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: space-between;
}

nav{
    bottom: -74vh;
}

nav a{
    text-decoration: none;
    color: white;
    font-family: 'Olney', 'Mark', 'Mark-Low', sans-serif;
    font-size: 3.125em;
    /* opacity: 0.5; */
    cursor: url(../media/icons/cursor-pointer.png), pointer;
    transition: 1s;
    padding-top: 10px;
}

nav img{
    width: 36px;
    height: auto;
    /* animation: rgb 5s infinite; */
}

@media only screen and (max-width: 720px){
    header{
        padding: 20px 24px;
        height: 95vh;
    }
    h1{
        font-size: 4em;
    }
    h2{
        font-size: 1.42em;
    }
    nav a{
        font-size: 2em;
    }
    nav img{
        width: 20px;
    }
}