body{
    background: url(../media/effects/background\ light.png) #000;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.container{
    width: 1740px;
    margin: auto;
    display: flex;
}