.card{
    border-radius: 20px;
    background: url(../media/effects/bg\ of\ portfolio\ card.png) #161616;
    position: fixed;
    left: 73.2%;
}

.main{
    padding-top: 160px;
}

img.logo{
    width: 190px;
    height: auto;
    display: flex;
    margin: auto;
    margin-top: -50px;
    border-radius: 22px;
    border: 3px solid rgb(255,255,255);
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 135px rgb(234 0 39 / 50%);
}

.btn-card{
    border-radius : 0px 0px 22px 22px;
    background : linear-gradient(90deg, rgba(237, 0, 73, 1) 0%, rgba(234, 0, 39, 1) 100%);
    width: 195px;
    height: 42px;
    margin: auto;
    margin-top: -30px;
    font-family: 'Azonix';
    font-size : 22px;
    color: rgb(255,255,255);
    box-shadow: 0px 0px 90px rgb(234 0 39 / 50%);
    padding-top: 42px;
    text-align: center;
    cursor: url(../media/icons/cursor-pointer.png), pointer;
    transition: 0.3s;
}

.btn-card:hover{
    filter: invert(1);
    transition: 0.3s;
}

.icon-fullscreen{
    background-image : url(../media/icons/fullscreen\ icon.svg);
    background-repeat : no-repeat;
    display: inline-block;
    width: 15px;
    height: 15px;
}

ul{
    list-style-type: none;
    font-family: 'Mark';
    font-size: 30px;
    color: #fff;
    padding: 0 60px;
    margin-top: 80px;
}

li{
    margin-top: 25px;
    cursor: url(../media/icons/cursor-pointer.png), pointer;
    opacity: 0.8;
    transition: 0.3s;
}

li:hover{
    opacity: 1;
    transition: 0.3s;
}

.social{
    width: 70%;
    height: 95px;
    border-top: 1px solid white;
    border-image:  url(../media/effects/lines.svg) 30 round;
    margin: auto;
    margin-top: 90px;
    padding: 0 20px;
}

.icon{
    width: 37px;
    height: 30px;
    display: inline-block;
    margin-top: 30px;
    opacity: 0.4;
    cursor: url(../media/icons/cursor-pointer.png), pointer;
    transition: 0.3s;
}

.icon:hover{
    opacity: 1;
    transition: 0.3s;
}

.yt{
    background: url(../media/icons/youtube\ icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.fb{
    background: url(../media/icons/facebook\ icon.svg);
    background-repeat: no-repeat;
}

.ig{
    background: url(../media/icons/instagram\ icon.svg);
    background-repeat: no-repeat;
}

.dc{
    background: url(../media/icons/discord\ icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.social-links:not(:last-child){
    margin-right: 48px;
}

.content{
    width: 73.5%;
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    align-content: center;
}

.project{
    width: 48%;
    height: 40vh;
    border-radius: 15px;
    background: #191919;
    display: inline-flex;
    transition: 0.3s;
    cursor: url(../media/icons/cursor-pointer.png), pointer;
}

.project:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

div.edu {
    background: url(https://j4vakhishvili.tk/assets/media/gallery/covers/DeviEduCover.jpg);
    background-size: cover;
}

.nttd {
    background: url(https://j4vakhishvili.tk/assets/media/gallery/covers/notimetodie.jpg);
    background-size: cover;
}

.modal{
    transform: translateY(-100%);
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.bg-modal{
    width: 28%;
    height: 65%;
    background: #161616;
    border-radius: 26px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2% 0;
    gap: 16px;
}

.workers-card{
    width: 86%;
    height: 25%;
    border-radius: 16px;
    border: 1px solid rgb(72 72 72);
    /* margin-top: 28px; */
    display: flex;
}

.img{
    width: 25%;
    height: 80%;
    background: #fff;
    margin: 3.5%;
    border-radius: 12px;
}

.title{
    margin: 3.5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title p{
    color: white;
    font-family: 'Mark';
}

.name{
    font-size: 24px;
}

.position{
    font-size: 18px;
    opacity: 0.5;
}

.temo{
    background: url(https://scontent.ftbs6-2.fna.fbcdn.net/v/t1.15752-9/328722617_732882778188712_3746150431399203689_n.png?_nc_cat=102&ccb=1-7&_nc_sid=ae9488&_nc_ohc=DoUwMeciD1AAX-_xMCt&tn=Mm8KQiHRckx2b_cC&_nc_ht=scontent.ftbs6-2.fna&oh=03_AdSSRCziNhcao5UOC9aVWC_YJzlZ7wXF78_r_lCU4WTW-w&oe=64116154);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.merabi{
    background: url(http://devi.ml/assets/media/icons/DEVi%20logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nika-dev{
    background: url(https://scontent.ftbs6-2.fna.fbcdn.net/v/t1.6435-9/179269113_503349454017355_4175817388576504637_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=z9sxNPvYNcwAX-pWe3K&_nc_ht=scontent.ftbs6-2.fna&oh=00_AfBO7R6-ub0ou2Ka1vVYIMh7yEuqsHQeU1m8IQaff5OvEw&oe=64116E2C);
    background-position: 59% 28%;
    background-repeat: no-repeat;
    background-size: 400px;
}

.nika-dsgn{
    background: url(https://scontent.ftbs6-2.fna.fbcdn.net/v/t1.6435-9/178512616_2605523529748654_191405621296581039_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=174925&_nc_ohc=bIrt009e3IEAX-Ntm8r&_nc_ht=scontent.ftbs6-2.fna&oh=00_AfBVXZ9xkieXITA-JWuQu4Va5NWv1ewS5LcEajTHuXzNdQ&oe=64116223);
    background-position: 74% 49%;
    background-repeat: no-repeat;
    background-size: 300px;
}

@media only screen and (max-width: 1820px){
    .main {
        padding-top: 120px;
    }
    .card{
        left: 74.5%;
    }
    ul{
        margin-top: 40px;
        font-size: 24px;
    }
    img.logo, .btn-card{
        width: 140px;
        border-radius: 16px;
    }
    .btn-card{
        height: 32px;
    }
    img.logo{
        border: 1px solid #fff;
    }
    .social{
        margin-top: 32px;
    }
    .social-links:not(:last-child) {
        margin-right: 33.3px;
    }
}

@media only screen and (max-width: 720px){
    .card{
        top: -150%;
        position: fixed;
        width: 90%;
        left: 5%;
        box-shadow: 0px 0px 900px rgb(255 107 153);
        height: fit-content;
    }
    .social{
        margin-top: 30px;
    }
    .social-links:not(:last-child){
        margin-right: 13px;
    }
    img.logo{
        width: 96px;
        border-radius: 12px;
        border: 1px solid white;
    }
    .btn-card{
        width: 96px;
        height: 24px;
        border-radius: 12px;
        margin-top: -35px;
        font-size: 18px;
    }
    .icon-fullscreen{
        display: none;
    }
    .container {
        width: 90%;
    }    
    .content{
        width: 100%;
        justify-content: center;
        gap: 20px;
    }
    .project{
        width: 100%;
        height: 180px;
    }
    .main {
        padding-top: 100px;
    }
    ul{
        margin-top: 10px;
        font-size: 16px;
        padding: 0 40px;
    }
    li {
        margin-top: 25px;
    }
}